
<div class="container">
<h2>Job list...</h2>

{{#each offersInfo}}
<h3>{{this.title}}</h3>
<h5>Source: {{this.company.display_name}}</h5>
<p>Location: {{this.location.display_name}} | Published:{{this.created}}</p>
<p>Salary: {{this.salary_min}} - {{this.salary_max}}</p>
<p>Description: {{this.description}} </p>
<a href={{this.redirect_url}} target="_blank" ><button class="btn-apply">Apply</button></a>

<form method="POST" action="/savedOffers/saveOffer">
    <input type="hidden" value="{{this.title}}" name="title">
    <input type="hidden" value="{{this.description}}" name="description">
    <input type="hidden" value="{{this.location.display_name}}" name="location">
    {{!-- <input type="number" value="{{this.salary_min}}" name="minSalary" >
    <input type="number" value="{{this.salary_max}}" name="maxSalary" > --}}
    <input type="hidden" value="{{this.redirect_url}}" name="redirect_url" >
    <button type="submit" class="btn-save">Save for later</button></a>
</form>
{{/each}}
</div> 