<div class="margin-footer-profile">
<div class="container">
<h2>Hey,{{user.username}} welcome to your profile</h2>

<h3>Your saved Job Offers:</h3>
{{#each favOffers}}
<div class="card" style="width: 30rem;">
  <div class="card-body">
    <h5 class="card-title">{{this.title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{this.location}}</h6>
    <p class="card-text">{{this.description}}</p>
    <a href={{this.redirect_url}} target="_blank"><button class="btn-apply">Apply  <i class="fas fa-external-link-alt"></i></button></a>
    {{!-- <a class="card-link"> --}}
      
      <form action="/savedOffers/deleteOffer" method="POST">
        <button type="submit" id="delete_fav_offer" class="button-5">
          <i class="far fa-trash-alt"></i>
            <input type="hidden" name="offerId" value={{this._id}}> 
        </button>
      </form>
    {{!-- </a> --}}
  </div>
</div>
{{/each}}

<div class="action-btns">
<a href="/"><button class="button-3">Search Jobs <i class="fas fa-search"></i></button></a>
<a href="/auth/logout"><button class="button-4">Log out! <i class="fas fa-power-off"></i></button></a>


<a href="savedOffers"><button type="submit" class="button-5">Delete account <i class="fas fa-user-times"></i></button></a>

</div>
</div>{{!-- end container --}}

</div>