<h2>Hey,{{user.username}} welcome to your profile</h2>
<a href="/"><button class="btn-rturn-home">Search Jobs</button></a>
<a href="/auth/logout"><button class="btn-logout">Log out! </button></a>
{{!-- power off font awesome icon --}}
<a href="/"><button class="btn-dlt-accnt">Delete account </button></a>
{{!-- Dustbin font awesome icon --}}
<h3>Your saved Job Offers:</h3>

{{!-- {{favOffers.[0].description}} --}}

{{#each favOffers}}
<p>{{this.title}}</p>
<p>{{this.company.display_name}}</p>
<p>{{this.description}}</p>
<a href={{this.redirect_url}} target="_blank" ><button class="btn-apply">Apply</button></a>
{{/each}}